---
import Hero from "@/components/Hero.astro"
import Layout from "../layouts/Layout.astro"
import ProjectCards from "@/components/ProjectCards.astro"
import Qualities from "@/components/Qualities.astro"
---

<Layout>
	<h1>Locations</h1>
</Layout>
