---
import { Image } from "astro:assets"
import { Icon } from "astro-icon/components"
import logo from "@/assets/designo-logo-light.svg"
---

<div class="mt-[182px]">
	<footer class="px-6 bg-black text-white relative py-16">
		<div
			class="bg-primary rounded-2xl py-16 px-6 mx-6 -top-[182px] flex flex-col items-center absolute left-0">
			<h2 class="heading-2 text-center text-balance mb-1.5">
				Let's talk about your project
			</h2>
			<p class="text-center mb-8">
				Ready to take it to the next level? Contact us today and find out how
				our expertise can help your business grow.
			</p>
			<a
				href="/contact"
				class="btn-white text-black uppercase block text-center">Get in touch</a
			>
		</div>
		<nav class="flex flex-col items-center mt-[182px]">
			<a href="/" class="mb-8">
				<Image src={logo} alt="Designo logo" />
			</a>
			<hr class="border-[#979797] w-full mb-8" />
			<ul
				class="flex flex-col items-center gap-4 uppercase text-sm tracking-[2px] mb-10">
				<li><a href="/about">Our Company</a></li>
				<li><a href="/locations">Locations</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</nav>
		<address class="flex flex-col items-center not-italic mb-10 opacity-75">
			<span class="font-bold">Designo Central Office</span>
			<span>3886 Wellington Street</span>
			<span>Toronto, Ontario M9C 3J5</span>
		</address>
		<div class="flex flex-col items-center mb-10 opacity-75">
			<span class="font-bold">Contact Us (Central Office)</span>
			<span>P : +1 253-863-8967</span>
			<span>M : contact@designo.co</span>
		</div>
		<ul class="flex gap-4 justify-center text-primary text-2xl">
			<li><a href="https://facebook.com"><Icon name="fb" /></a></li>
			<li><a href="https://youtube.com"><Icon name="yt" /></a></li>
			<li><a href="https://twitter.com"><Icon name="tw" /></a></li>
			<li><a href="https://pinterest.com"><Icon name="pinterest" /></a></li>
			<li><a href="https://instagram.com"><Icon name="ig" /></a></li>
		</ul>
	</footer>
</div>
