---
import heroImgMobile from "@/assets/hero-img-mobile.png"
import bgPattern from "@/assets/bg-pattern-hero-home.svg"
import { Image } from "astro:assets"
---

<section class="bg-primary relative overflow-hidden">
	<div class="relative z-10 px-6">
		<div class="flex flex-col items-center py-20">
			<h1 class="heading-1 text-center text-balance text-white mb-4">
				Award-winning custom designs and digital branding solutions
			</h1>
			<p class="mb-6 text-center text-white body-text">
				With over 10 years in the industry, we are experienced in creating fully
				responsive websites, app design, and engaging brand experiences. Find
				out more about our services.
			</p>
			<button class="btn-white">Learn More</button>
		</div>
		<Image
			src={heroImgMobile}
			alt="smartphone with a design on it that says frame"
			class="mx-auto shadow-[20px_-40px_80px_rgba(93,2,2,0.4976)] rounded-t-[36px]"
		/>
	</div>
	<Image
		src={bgPattern}
		alt=""
		class="absolute top-[200px] -right-24 scale-150"
	/>
</section>
